.subnav
  .container
    .subnav-items
      .subnav-item{class: ('active' if params[:id] == 'pricing/wadsl')}
        = link_to 'WADSL', pricing_wadsl_path

      .subnav-item{class: ('active' if params[:id] == 'pricing/whdsl')}
        = link_to 'WHDSL', pricing_whdsl_path

      .subnav-item{class: ('active' if params[:id] == 'pricing/adsl')}
        = link_to 'ADSL', pricing_adsl_path

      .subnav-item{class: ('active' if params[:id] == 'pricing/fiber')}
        = link_to 'Fibra', pricing_fiber_path

      .subnav-item{class: ('active' if params[:id] == 'pricing/voip')}
        = link_to 'VoIP', pricing_voip_path
