- provide :body_class, 'pricing-page pricing-page-four-plans'

= render 'pages/pricing/navigation'

.container
  .heading
    %h1.heading-title Come ai vecchi tempi.
    %p.heading-subtitle La stabilità dell'ADSL. L'eccellenza di InterConn.

.pricing-page-plans-container
  .plans
    .plan
      .plan-name 7 Mega

      .plan-price
        .plan-price-currency €
        .plan-price-digits 24
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 30 u.t.*

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 7 Mbps / 704 Kbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 256 Kbps

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 7 Mega No Telecom

      .plan-price
        .plan-price-currency €
        .plan-price-digits 32
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 90 u.t.*

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 7 Mbps / 704 Kbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 256 Kbps

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 20 Mega

      .plan-price
        .plan-price-currency €
        .plan-price-digits 27
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 30 u.t.*

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 20 Mbps / 1 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 256 Kbps

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 20 Mega No Telecom

      .plan-price
        .plan-price-currency €
        .plan-price-digits 27
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 30 u.t.*

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 20 Mbps / 1 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 256 Kbps

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

  %ul.list-notes
    %li (*) Tutti i prezzi sono IVA inclusa.
    %li (**) Tutti i prezzi sono IVA esclusa.

.features
  .feature
    .feature-content
      .feature-body
        %h3.feature-title Il router lo offre la casa.

        .feature-description
          %p
            Stai già pagando per una connessione: non dovresti pagare anche per
            poterla usare. Quando passi a InterConn, ti diamo noi il router
            Wi-Fi. E se si rompe, la sostituzione è gratuita.

          %strong Nell'equazione manchi solo tu.

      .feature-image= image_tag 'icons/router.svg'

  .feature
    .feature-content
      .feature-body
        %h3.feature-title Una strada che porta ovunque.

        .feature-description
          %p
            Non esistono servizi di serie B su internet. Avrai un IP pubblico,
            in modo da poterlo usare liberamente per il gaming, il P2P e ogni
            altro software che lo richieda.

          %strong Usalo per qualcosa di bello. O divertente.

      .feature-image= image_tag 'icons/public_ip_individuals.svg'

  .feature
    .feature-content
      .feature-body
        %h3.feature-title Il tuo tempo vale. E anche tu.

        .feature-description
          %p
            Se il tuo hobby è attendere in linea decine di minuti per parlare
            con operatori incompetenti, sei nel posto sbagliato. Noi abbiamo
            ideato un supporto clienti degno di questo nome.

          %strong Così hai tempo per le cose che contano.

      .feature-image= image_tag 'icons/support_individuals.svg'
