- provide :body_class, 'pricing-page pricing-page-3x'

= render 'pages/pricing/navigation'

.container
  .heading
    %h1.heading-title Veloce, costante, affidabile.
    %p.heading-subtitle L'offerta originale: la soluzione per casa e azienda.

.container
  .switch
    .switch-label Privati
    .switch-control
      %input.toggle#plans-toggle(type='checkbox' data-plans-selector data-checked-choice='/businesses' data-unchecked-choice='/individuals')
      %label(for='plans-toggle')
    .switch-label Aziende

.pricing-page-plans-container(data-plans-id='/individuals')
  .plans.plans-3x
    .plan
      .plan-name 8 Mega Privati

      .plan-price
        .plan-price-currency €
        .plan-price-digits 26
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Deposito cauzionale
        .plan-feature-content
          € 150
          %a.explainer(data-toggle='tooltip' title='Il deposito cauzionale sarà restituito al termine del contratto.')
            = fa_icon 'question-circle-o'

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 30 u.t.*

      .plan-feature.plan-feature-2x
        .plan-feature-name Velocità di picco
        .plan-feature-content 8 Mbps / 3 Mbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statico
        .plan-feature-content € 6 / mese*

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-label Piano più scelto
      .plan-name 10 Mega Privati

      .plan-price
        .plan-price-currency €
        .plan-price-digits 31
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Deposito cauzionale
        .plan-feature-content
          € 150
          %a.explainer(data-toggle='tooltip' title='Il deposito cauzionale sarà restituito al termine del contratto.')
            = fa_icon 'question-circle-o'

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 30 u.t.*

      .plan-feature.plan-feature-2x
        .plan-feature-name Velocità di picco
        .plan-feature-content 10 Mbps / 3 Mbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statico
        .plan-feature-content € 6 / mese*

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 20 Mega Privati

      .plan-price
        .plan-price-currency €
        .plan-price-digits 35
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Deposito cauzionale
        .plan-feature-content
          € 150
          %a.explainer(data-toggle='tooltip' title='Il deposito cauzionale sarà restituito al termine del contratto.')
            = fa_icon 'question-circle-o'

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 30 u.t.*

      .plan-feature.plan-feature-2x
        .plan-feature-name Velocità di picco
        .plan-feature-content 20 Mbps / 3 Mbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statico
        .plan-feature-content € 6 / mese*

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

  %ul.list-notes
    %li (*) Prezzo da considerarsi IVA inclusa.

.pricing-page-plans-container(data-plans-id='/businesses')
  .plans.plans-3x
    .plan
      .plan-name 4 Mega Business

      .plan-price
        .plan-price-currency €
        .plan-price-digits 39
        .plan-price-recurrence / mese**

      .plan-feature
        .plan-feature-name Deposito cauzionale
        .plan-feature-content
          € 180
          %a.explainer(data-toggle='tooltip' title='Il deposito cauzionale sarà restituito al termine del contratto.')
            = fa_icon 'question-circle-o'

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 24,59 u.t.**

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 4 Mbps / 1 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 512 Kbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statico
        .plan-feature-content € 4,92 / mese**

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-label Piano più scelto
      .plan-name 7 Mega Business

      .plan-price
        .plan-price-currency €
        .plan-price-digits 69
        .plan-price-recurrence / mese**

      .plan-feature
        .plan-feature-name Deposito cauzionale
        .plan-feature-content
          € 180
          %a.explainer(data-toggle='tooltip' title='Il deposito cauzionale sarà restituito al termine del contratto.')
            = fa_icon 'question-circle-o'

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 24,59 u.t.**

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 7 Mbps / 3 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 512 Kbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statico
        .plan-feature-content € 4,92 / mese**

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 10 Mega Business

      .plan-price
        .plan-price-currency €
        .plan-price-digits 99
        .plan-price-recurrence / mese**

      .plan-feature
        .plan-feature-name Deposito cauzionale
        .plan-feature-content
          € 180
          %a.explainer(data-toggle='tooltip' title='Il deposito cauzionale sarà restituito al termine del contratto.')
            = fa_icon 'question-circle-o'

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 24,59 u.t.**

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 10 Mbps / 3 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 2 Mbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statico
        .plan-feature-content € 4,92 / mese**

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

  %ul.list-notes
    %li (**) Prezzo da considerarsi IVA esclusa.

.features
  .feature
    .feature-content
      .feature-body
        %h3.feature-title Il router lo offre la casa.

        .feature-description
          %p
            Stai già pagando per una connessione: non dovresti pagare anche per
            poterla usare. Quando passi a InterConn, ti diamo noi il router
            Wi-Fi. E se si rompe, la sostituzione è gratuita.

          %strong Nell'equazione manchi solo tu.

      .feature-image= image_tag 'icons/router.svg'

  .feature
    .feature-content
      .feature-body
        %h3.feature-title Una strada che porta ovunque.

        .feature-description
          %p
            Non esistono servizi di serie B su internet. Avrai un IP pubblico,
            in modo da poterlo usare liberamente per il gaming, il P2P e ogni
            altro software che lo richieda.

          %strong Usalo per qualcosa di bello. O divertente.

      .feature-image= image_tag 'icons/public_ip_individuals.svg'

  .feature
    .feature-content
      .feature-body
        %h3.feature-title Il tuo tempo vale. E anche tu.

        .feature-description
          %p
            Se il tuo hobby è attendere in linea decine di minuti per parlare
            con operatori incompetenti, sei nel posto sbagliato. Noi abbiamo
            ideato un supporto clienti degno di questo nome.

          %strong Così hai tempo per le cose che contano.

      .feature-image= image_tag 'icons/support_individuals.svg'
