- provide :body_class, 'plans-wadsl'

.heading
  %h1.heading-title Veloce, costante, affidabile.
  %p.heading-subtitle L'offerta originale: la soluzione per casa e azienda.

.container
  .plans
    .plan
      .plan-name 7 Mega Privati

      .plan-price
        .plan-price-currency €
        .plan-price-digits 24
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 100 u.t.*
        .plan-feature-erased-content € 180 u.t.*

      .plan-feature.plan-feature-2x
        .plan-feature-name Velocità di picco
        .plan-feature-content 7 Mbps / 3 Mbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statici
        .plan-feature-content € 6 / mese*

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 10 Mega Privati

      .plan-price
        .plan-price-currency €
        .plan-price-digits 31
        .plan-price-recurrence / mese*

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 100 u.t.*
        .plan-feature-erased-content € 180 u.t.*

      .plan-feature.plan-feature-2x
        .plan-feature-name Velocità di picco
        .plan-feature-content 10 Mbps / 3 Mbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statici
        .plan-feature-content € 6 / mese*

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 4 Mega Business

      .plan-price
        .plan-price-currency €
        .plan-price-digits 39
        .plan-price-recurrence / mese**

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 180 u.t.**
        .plan-feature-erased-content € 245 u.t.**

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 4 Mbps / 1 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 512 Kbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statici
        .plan-feature-content € 4,92 / mese**

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

    .plan
      .plan-name 7 Mega Business

      .plan-price
        .plan-price-currency €
        .plan-price-digits 69
        .plan-price-recurrence / mese**

      .plan-feature
        .plan-feature-name Installazione
        .plan-feature-content € 180 u.t.**
        .plan-feature-erased-content € 245 u.t.**

      .plan-feature
        .plan-feature-name Velocità di picco
        .plan-feature-content 7 Mbps / 3 Mbps

      .plan-feature
        .plan-feature-name Banda garantita
        .plan-feature-content 512 Kbps

      .plan-feature.plan-feature-highlight
        .plan-feature-name IP statici
        .plan-feature-content € 4,92 / mese**

      .plan-action
        = link_to 'Attiva Offerta', '#', class: 'btn btn-primary'

  %ul.list-notes
    %li (*) Tutti i prezzi sono IVA inclusa.
    %li (**) Tutti i prezzi sono IVA esclusa.

.features
  .feature
    .container
      .feature-content
        .feature-body
          %h3.feature-title Router Wi-Fi incluso.

          .feature-description
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .feature-image= image_tag '//placehold.it/300x300'

  .feature
    .container
      .feature-content
        .feature-body
          %h3.feature-title Router Wi-Fi incluso.

          .feature-description
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .feature-image= image_tag '//placehold.it/300x300'
