- provide :body_class, 'tickets-new'

.container
  .heading
    %h1.heading-title Non essere timido!
    %p.heading-subtitle Siamo qui per aiutarti. Sempre.

.tickets-new-container
  .tickets-new-content
    .tickets-new-main
      = simple_form_for @ticket, remote: true do |f|
        .panel.panel-default
          .panel-body
            = f.input :full_name, autofocus: true
            = f.input :email
            = f.input :phone_number
            = f.input :subject
            = f.input :body

          .panel-footer
            .panel-footer-actions
              .panel-footer-action.panel-footer-action-alternate
                = link_to '« Torna al Centro assistenza', support_path

              .panel-footer-action.panel-footer-action-primary
                %button.btn.btn-primary{ type: 'submit' } Invia ticket »

    .tickets-new-sidebar
      .panel.panel-default
        .panel-heading
          %h3.panel-title Stato dei servizi
          = fa_icon 'heartbeat', class: 'panel-icon'

        .panel-body
          %ul.list-unstyled
            %li
              %strong Navigazione:
              %span.text-success Operativo

            %li
              %strong Server email:
              %span.text-info In manutenzione

            %li
              %strong DNS primario:
              %span.text-warning Parzialmente inoperativo

            %li
              %strong DNS secondario:
              %span.text-danger Inoperativo

        .panel-footer
          .panel-footer-actions
            .panel-footer-action.panel-footer-action-primary
              = link_to 'Consulta lo stato dettagliato', '#'

      .panel.panel-default
        .panel-heading
          %h3.panel-title Hai già controllato queste FAQ?
          = fa_icon 'question-circle', class: 'panel-icon'

        .panel-body
          %ul.list-unstyled
            %li= link_to 'Come avviene la fatturazione?', '#'
            %li= link_to 'Come avviene la tariffazione?', '#'
            %li= link_to 'Come posso pagare?', '#'

        .panel-footer
          .panel-footer-actions
            .panel-footer-action.panel-footer-action-primary
              = link_to 'Vai alle Domande frequenti', '#'
