!!!
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    %title= content_for?(:title) ? yield(:title) : 'InterConn'

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_pack_tag 'application'

    = csrf_meta_tags

    - if content_for?(:turbolinks_cache_control)
      %meta{ name: 'turbolinks-cache-control', content: yield(:turbolinks_cache_control) }

  %body{ class: yield(:body_class) }
    %header
      = render 'layouts/navigation'

    %main{ role: 'main' }
      = render 'layouts/messages'
      #page-content= yield
